{% extends 'layouts/base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-6 offset-3">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        Registration
                    </div>
                    <div class="card-body">
                        <form action="{% url 'registration' %}" method="post">
                            {% csrf_token %}
                            {{ registration_form|crispy }}
                            <button class="btn btn-success px-5 py-2">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}