{% extends 'layouts/base.html' %}
{% load crispy_forms_filters %}
{% block title %}
    Create Task
{% endblock %}


{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-6 offset-3">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        Create task
                    </div>
                    <div class="card-body">
                        <form action="{% url 'task_create' %}" method="post">
                            {% csrf_token %}
                            {{ create_form|crispy }}
                            <button class="btn btn-success px-5 py-2" type="submit">Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
